.workouts-container {
  padding: 60px 8%;
  color: #fff;

  background-image:
    linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),
    url("../assets/wrkout2.webp");

  background-size: contain;   /* IMPORTANT */
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000;     /* empty space black */
}

/* TITLE */
.page-title {
  text-align: center;
  font-size: 42px;
  color: #00ff88;
  margin-bottom: 15px; /* TITLE → SUBTITLE gap */
}

.page-subtitle {
  text-align: center;
  color: #aaa;
  margin-bottom: 60px; /* SUBTITLE → CARDS gap */
  font-size: 16px;
}


/* GRID */
.workout-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
}

/* CARD */
.workout-card {
  background: rgba(0, 0, 0, 0.85);
  border-radius: 18px;
  border: 2px solid #00ff88;
  overflow: hidden;
  transition: 0.3s;
}

.workout-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 0 25px rgba(0,255,136,0.4);
}

/* IMAGE */
.image-box {
  height: 220px;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* CONTENT CENTER */
.workout-content {
  padding: 20px;
  text-align: center;
}

/* TITLE */
.workout-content h2 {
  margin-bottom: 12px;
   color: #00ff88;
  text-align: center;
}

/* DESCRIPTION */
.desc {
  margin-bottom: 18px;
  text-align: center;
   color: #00ff88;
  line-height: 1.6;
}

/* SUB TITLES */
.sub-title {
  margin-top: 20px;
   color: #00ff88;
  margin-bottom: 10px;
  text-align: center;
}

/* LISTS */
.warmup-list,
.exercise-list {
  margin-bottom: 18px;
  
  padding-left: 0;
  text-align: center;
}

/* LIST ITEMS */
.warmup-list li,

.exercise-list li {
  margin-bottom: 10px;
  
  list-style: none;
}

/* MOBILE */
@media (max-width: 768px) {
  .image-box {
    height: 200px;
  }
}
